html{
    background-color: #edede8;
}
h1{
    background-color: #352F44;
    color:#FAF0E6;
    text-align: center;
}
h2{
    background-color: #5C5470;
    color:#FAF0E6; ;
}
ul{
    background-color: #B9B4C7;
}

a{
    color:rgb(97, 76, 76);
}